@media (max-width: 1100px) and (min-width: 961px) {
  #nav-menu {
    height: 65px;
    padding: 5px 25px;
  }
  .nav_right {
    width: 72%;
  }
  .nav_right a {
    font-size: 1.2rem;
  }
  .nav_right a:hover {
    font-size: 1.05rem;
  }
  .home_left {
    width: 52%;
  }
  .home_right {
    width: 35%;
  }
}
@media (max-width: 960px) and (min-width: 761px) {
  #nav-menu {
    height: 60px;
    padding: 5px 25px;
  }
  .nav_right {
    width: 78%;
  }
  .nav_right a {
    font-size: 1.05rem;
  }
  .nav_right a:hover {
    font-size: 0.9rem;
  }
  .nav_right .nav-link:hover {
    padding: 5px 8px;
  }
  #resume-link-1 {
    padding: 6px 12px;
  }
  #resume-link-1 #resume-button-1 {
    font-size: 1rem;
  }
  #home {
    padding-top: 45px;
    width: 97%;
  }
  .home_left {
    width: 60%;
  }
  .home_left p {
    width: 85%;
  }
  .home_right {
    width: 39%;
  }
}
@media (max-width: 760px) {
  html::-webkit-scrollbar-thumb {
    background: rgb(128, 128, 128);
    border-radius: 8px;
  }
  html::-webkit-scrollbar-thumb:hover {
    background: rgb(176, 176, 176);
  }
  #nav-menu {
    position: fixed;
    height: 55px;
    padding: 5px 25px;
    background-color: #222a36ea;
  }
  .nav_right {
    display: none;
  }
  #burger {
    display: block;
  }
  #resume-link-1 {
    background: transparent;
    padding: 0;
  }
  #resume-link-1:hover {
    background: transparent;
  }
  #toggle_navPageFull {
    height: 100vh;
  }
  #toggle_navPageHalf {
    height: 100vh;
  }

  /* ==================== HOME START ==================== */

  #home {
    max-width: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 55px;
    height: 100vh;
  }
  .home_left {
    text-align: left;
    width: 90%;
  }
  .home_left h1 {
    font-size: 1.7rem;
  }
  .home_left p {
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 1.4rem;
    font-size: 16px;
  }
  .home_left .mob_none {
    display: none;
  }
  .home_right {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 50%;
  }
  .home_left #resume-button-2 {
    display: none;
  }
  .home_left #resume-button-2-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 140px;
  }

  /* ==================== HOME END ==================== */

  /* ==================== ABOUT START ==================== */

  #about {
    max-width: 100%;
    height: 160vh;
  }
  .about_top {
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  .about_top_left,
  .about_top_right {
    width: 80%;
    align-items: center;
    justify-content: center;
  }
  #intro {
    display: block;
    margin-bottom: 30px;
  }
  #user-detail-intro {
    display: none;
  }
  #github-top-langs {
    margin-left: -24px;
    width: 129%;
  }
  #github-stats-card {
    width: 110%;
  }
  #github-streak-stats {
    width: 110%;
  }
  #git-readme {
    width: 300px;
  }
  .about_bottom {
    width: 80%;
    overflow: hidden;
    margin: auto;
  }
  .about_bottom .calendar {
    /* left: -449px; */
    width: 100%;
  }
  .text-muted {
    font-size: 11px;
    color: #ccc;
  }
  .contrib-number {
    color: #008cba;
    font-size: 16px;
    font-weight: 600;
  }

  /* ==================== ABOUT END ==================== */

  /* .border .js-calendar-graph .js-calendar-graph-svg g g:nth-child(1) 
  {
    display: none;
  } */

  /* ==================== SKILL START ==================== */

  #skills {
    width: 95%;
    margin: auto;
    height: 100%;
    margin-top: -200px;
  }
  #skills .secHead {
    margin-bottom: 30px;
  }
  .skill_main {
    width: 80%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .skill_icons {
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .skill_icons h3 {
    margin-top: 10px;
    text-align: center;
    color: #2f7b90;
    font-size: 15px;
  }

  /* ==================== SKILL END ==================== */

  /* ==================== PROJECT START ==================== */

  /* #projects {
    max-width: 100%;
    height: 100%;
  }
  .secHead_proj {
    font-size: 29px;
  }
  .project_main {
    width: 85%;
    margin: auto;
  }
  .project-card {
    width: 90%;
    margin: auto;
    height: 100%;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .project-card .left {
    position: relative;
    transition: 0.6s ease;
    width: 95%;
    margin-bottom: 10px;
  }
  .project-card .left:hover {
    z-index: 9;
    transition: 0.4s ease;
    transform: scaleX(1.2) scaleY(1.1);
    margin-bottom: 20px;
  }
  .project-card .overlay {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-title {
    text-align: center;
  }
  .project-description {
    text-align: center;
  }
  .project-tech-stack {
    width: 90%;
    height: 40px;
    justify-content: center;
  }
  .proj_link_div {
    width: 75%;
    justify-content: center;
  }
  .proj_links {
    padding: 5px 12px;
    margin-right: 8px;
  }
  .proj_links span {
    font-size: 14px;
    margin-left: 5px;
  }
  .fa-github {
    font-size: 21px;
  }
  .fa-globe {
    font-size: 19px;
  } */

  .projectWraper {
    width: 85%;
    flex-direction: column;
    position: unset;
    margin-bottom: 40px;
  }
  .picDiv {
    width: 100%;
    position: unset;
  }
  .picDiv img {
    /* position: relative; */
    border-radius: 0rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .picDiv img:hover {
    transition: unset;
    transform: unset;
  }
  .picDiv:hover + .detailDiv .detailWraper .actualDetailDiv {
    transform: unset;
    transition: unset;
  }
  .detailDiv {
    justify-content: center;
  }
  .detailWraper {
    width: 100%;
    min-height: 0px;
    background-color: #7c818842;
    justify-content: center;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }
  .actualDetailDiv {
    transition: unset;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
  }
  .actualDetailDiv h1{
    font-size: 22px;
    margin-bottom: 5px;
  }
  .actualDetailDiv .projDetail .theProjIs {
    font-size: small;
    margin-bottom: 5px;
  }
  .actualDetailDiv .projDetail .createdBy {
    margin-bottom: 10px;
    font-size: x-small;
  }
  .techStackWraper {
    width: 90%;
  }
  .techStackWraper img {
    margin-right: 10px;
  }
  .projLinksWraper .proj_links {
    position: relative;
    padding: 8px;
    font-size: smaller;
    background-color: #222a36;
    border-radius: 6px;
    margin-right: 3px;
    transition: 0.2s ease-in-out;
  }
  .projLinksWraper .proj_links:hover {
    transition: 0.2s ease-in-out;
  }
  .projLinksWraper .proj_links span {
    margin-left: 5px;
  }

  /* ==================== PROJECT END ==================== */

  /* ==================== CONTACT START ==================== */

  #contact {
    max-width: 100%;
  }
  .contact_main {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact-left {
    width: 75%;
  }
  .contact-left .inputs {
    width: 100%;
  }
  .responsive_social {
    display: block;
    position: relative;
    width: 10%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease;
  }
  .responsive_social div:nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .social {
    position: relative;
    transform: rotate(-90deg);
    color: #008cba;
    display: block;
  }
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 50%;
    height: 220px;
    border: 1px solid #7c8188;
    border-right: 0;
    border-radius: 5px;
    position: relative;
    /* bottom: 30px; */
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #link_icons_container {
    width: 100%;
    margin-top: 10px;
  }
  #link_icons_container div {
    width: 100%;
    position: relative;
    margin-right: 0;
  }
  #link_icons_container div img {
    width: 100%;
    margin-right: 0;
  }
  .contact-right {
    display: none;
  }
  #link_icons_container .social_links {
    margin: 5px;
  }
  #link_icons_container .social_links div {
    padding: 0;
    font-size: 35px;
    background-color: transparent;
  }
  .arrow span {
    color: #008cba;
  }
  .responsive_mail span {
    font-size: 32px;
  }
  #contact-phone i {
    font-size: 27px;
  }
  #contact-github div {
    width: 90%;
    margin-left: 2px;
  }
  .contact-left form .submit {
    width: 100px;
    background-color: #008cba;
    border: 1px solid #008cba;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 600;
    /* padding: 5px 10px; */
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.74);
  }

  /* ==================== CONTACT END ==================== */
}
